
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Bootstrap CSS -->
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
  <body>
   
               <header>
		<div class="container"> 
		<div class="p-3 mb-2 bg-secondary text-"><img src=https://us.123rf.com/450wm/extezy/extezy1508/extezy150800015/43940807-caligr-fico-logo-boutique-de-lujo-elementos-de-decoraci-n-adornados-emblema-vector-vintage-s-mbolo-d.jpg?ver=6 width="150" height="150" ><img src=http://www.tahiti.es/wp-content/uploads/2017/04/Boutique-13-hotel-tahiti-formentera.jpg width="700" height="150" ></div>

		</div>
	</header>

	<div class="container">
	<div class="p-3 mb-2 bg-dark text-white">
		<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
</style>
</head>
<body>

<ul>
  <li><a href="/venta">Home</a></li>
  <li><a href="/venta/new">New venta</a></li>
  <li><a href="/venta/reporte">Reporte</a></li>
  <li style="float:right"></li>
</ul>

</body>


	</div>
				 <%= yield %>
		</div>

		
		</div>
	</div>

	<footer>
		<div class="container">
		<div class="p-3 mb-2 bg-info text-white"><img src=https://s-media-cache-ak0.pinimg.com/736x/e4/6d/ba/e46dba78e14f202637733d6a3f12bcf4.jpg width="150" height="150" >
		<img src=http://m1.paperblog.com/i/198/1985267/ropa-otono-invierno-conjuntos-ropa-otono-invi-L-uwnGqu.jpeg width="150" height="150" >
		<img src=https://s-media-cache-ak0.pinimg.com/originals/78/72/92/7872924bbb74fce99c03cda8690d2581.jpg width="150" height="150" >
		<img src=http://comolorealizo.com/wp-content/uploads/2017/02/pants.jpg width="150" height="150" >
		<img src=http://3.bp.blogspot.com/-OelNLiKi794/UzHA_-7AalI/AAAAAAAAAtE/gbZBohl1YmA/s1600/tiros+pantalon.jpg width="200" height="150" >
		</div>
			
		</div>
	</footer>
	</div>

	<!-- Latest compiled and minified JavaScript -->
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>





  </body>
</html>

